extends ./base.pug

block link
    -var selected = 'Automaten';

block title
    title= title

block content
    article
        h1 Automaten
        //-TODO: Add description

        //- The google form
        iframe(class="rounded-light" src="https://docs.google.com/forms/d/1oyS5EWSAPUPv3lwlPIyOHjC7Q1LPGT9KfSaDIanS6sQ/viewform?embedded=true", width="760", height="1200", frameborder="0", marginheight="0", marginwidth="0") Läser in...
