doctype html
html
    head
        block title
        title Base
        link(rel='stylesheet', href=('/stylesheets/layout.css'))
        script(type='text/javascript', src=('/js/test.js'))
    body
        nav
            ul
                li
                    a(href='/drust') Om Drust
                li
                    a(href='/basen') Basen
                li
                    a(href='/verktyg') Verktyg
                li
                    a(href='/automaten') Automaten
                li
                    a(href='/flipper') Flipper

        block content
