extends ./base.pug

block link
    -var selected = 'Basen';

block title
    title= title

block includes
    //- For the image slider
    link(rel='stylesheet', href='/stylesheets/libs/ideal-image-slider.css')
    link(rel='stylesheet', href='/stylesheets/libs/default.css')

block content
    article
        h1 Basen

        p.
            Basen är den lokal där samtliga Datateknologer kommer för att äta, umgås och egentligen göra vad de vill.
            I Basen finns lite saker som gör livet enklare för de flesta. Till exempel finns det mikrovågsugnar, en automat att köpa godsaker eller läsk i, och ibland finns det även gafflar i köket som alla kan använda.
            Har man något viktigt att säga, som t.ex. att man vill arrangera en grillfest eller afterschool, kan man enkelt hänga upp en lapp i Basen så kommer de flesta se det.
        p.
            En av de mer populära sakerna som händer i Basen är de pubar som arrangeras av Delta där man kan köpa från ett brett utbud av öl.
            CMP (Clear Memory Pub) anordnas på lördagen på alla tentaveckor, dessa pubar händer därmed fyra gånger per år och brukar vara väldigt populära.
            Förutom det så sker även pubrunda i Basen 4 gånger om året.
            Varje onsdag så är det dessutom Afterschool, där datateknologen för en billig penning kan köpa gott käk som lagats av en av föreningarna.

        #slider(onmouseover='stopSlide()', onmouseout='startSlide()')
            img(src='/images/Basen1.jpg' alt='Basen.jpg')
            img(src='/images/Basen2.jpg' alt='Basen2.jpg')
            img(src='/images/Basen3.jpg' alt='Basen3.jpg')
            img(src='/images/Basen4.jpg' alt='Basen4.jpg')
            img(src='/images/Basen5.jpg' alt='Basen5.jpg')

    //- For the image slider
    script(src='/js/libs/ideal-image-slider.js')
    script
        :babel
            const intervalTime = 5000;
            const slider = new IdealImageSlider.Slider('#slider');
            let intervalId = window.setInterval(function(){slider.nextSlide();}, intervalTime);

            function startSlide() {
                intervalId = window.setInterval(function(){slider.nextSlide();}, intervalTime);
            }

            function stopSlide() {
                clearInterval(intervalId);
            }
