doctype html
html(lang='sv')
    head
        block title
            title DRust

        meta(charset='utf8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(type='text/plain', rel='author' href='/humans.txt')
        link(href='https://fonts.googleapis.com/css?family=Fira+Sans', rel='stylesheet', type='text/css')
        link(rel='stylesheet', href=('/stylesheets/layout.css'))
        script(type='text/javascript', src=('/js/core.js'))

        //- For page-specific scripts or css. Use only when you want to load it before the body.
        block includes

        block link
            - var selected;

    -
        var menu = {'Hem' : '/',
                    'DRust' : '/drust',
                    'Basen' : '/basen',
                    'Verktyg' : '/verktyg',
                    'Automaten' : '/automaten'};

    body
        block banner
            div#thin-banner

        main
            header
                block header
                    a(href="/")
                        img(src="/images/drust16.png")
                    nav.site-nav
                        each link, name in menu
                            if name === selected
                                a.active(href=link)= name
                            else
                                a(href=link)= name

            block content
