extends ./base.pug

block link
    -var selected = 'Basen';

block title
    title= title

block content
    article
        h1 Basen

        p.
            Basen är den lokal där samtliga Datateknologer kommer för att äta, umgås och egentligen göra vad de vill.
            I Basen finns lite saker som gör livet enklare för de flesta. Till exempel finns det mikrovågsugnar, en automat att köpa godsaker eller läsk i, och ibland gafflar.
            Har man något viktigt att säga, som t.ex. att man vill arrangera en grillfest eller afterschool, kan man enkelt hänga upp en lapp i Basen så kommer de flesta se det.
        p.
            En av de mer populära sakerna som händer i Basen är de pubar som arrangeras av Delta där man kan köpa från ett brett utbud av öl.
            CMP (Clear Memory Pub) anordnas på lördagen på alla tentaveckor, dessa pubar händer därmed fyra gånger per år och brukar vara väldigt populära.
            Förutom det så sker även pubrunda i Basen 4 gånger om året.
            Varje onsdag så är det dessutom Afterschool, där datateknologen för en billig penning kan köpa gott käk som lagats av en av föreningarna.

        img.center(src='/images/Basen.png' alt='Basen-bild')
