extends ./base.pug

mixin dbForm(action)
    form(action=action, method='post')
        input(type='text', name='name', placeholder='Namn')
        br
        input(type='text', name='amount', placeholder='Antal')
        br
        button(type='submit') Skicka

block content
    article

        .db-form
            //- For updating tools
            h1 Update
            +dbForm('/db/update')

        .db-form
            //- For creating new tools
            h1 New
            +dbForm('/db/new')
            unless isUnique
                //- Placeholder
                p stop pls

        .db-form
            h1 Remove
            form(action='/db/remove', method='post')
                input(type='text', name='name', placeholder='Namn')
                br
                button(type='submit') Skicka

        each v in tools
            p= v