extends ./base.pug

block content
    article

        .db-form
            //- For updating tools
            h1 Update
            form(action='/db/update', method='post')
                input(type='text', name='name', placeholder='Namn')
                br
                input(type='text', name='amount', placeholder='Antal')
                br
                button(type='submit') Submit

        .db-form
            //- For creating new tools
            h1 New
            form(action='/db/new', method='post')
                input(type='text', name='name', placeholder='...')
                br
                input(type='text', name='amount', placeholder='amt')
                br
                button(type='submit') Submit

        .db-form
            h1 Remove

        each v in tools
            p= v