extends ./base.pug

mixin dbForm(action)
    form(action=action, method='post')
        input(type='text', name='name', placeholder='Namn')
        br
        input(type='text', name='amount', placeholder='Antal')
        br
        button(type='submit') Skicka

block includes
    script(src='https://code.jquery.com/jquery-3.0.0.js')

block content
    article

        .tools-form
            //- For updating tools
            h1 Update
            +dbForm('/db/tools/update')

        .tools-form
            //- For creating new tools
            h1 New
            +dbForm('/db/tools/new')
            unless isUnique
                #error Finns redan

        .tools-form
            //- For removing tools
            h1 Remove
            form(action='/db/tools/remove', method='post')
                input(type='text', name='name', placeholder='Namn')
                br
                button(type='submit') Skicka

        each v in tools
            p= v


    script.
        $(document).ready( function() {
            // Slowly fade out error message
            $("#error").toggleClass("invisible");
        });