extends ./base.pug

mixin dbForm(action, inclAmount)
    form(action=action, method='post')
        input(type='text', name='name', placeholder='Namn')
        br
        //- Include amount input?
        if inclAmount
            input(type='text', name='amount', placeholder='Antal')
            br
        button(type='submit') Skicka

block includes
    script(src='https://code.jquery.com/jquery-3.0.0.js')

block content
    article

        .tools-form
            //- For updating tools
            h1 Update
            +dbForm('/db/tools/update', true)

        .tools-form
            //- For creating new tools
            h1 New
            +dbForm('/db/tools/new', true)

        .tools-form
            //- For removing tools
            h1 Remove
            +dbForm('/db/tools/remove', false)

        unless isUnique
            #error Finns redan


        each v in tools
            p= v


    script
        :babel
            $(document).ready( function() {
                // Slowly fade out error message
                const fadeOutTime = 3000; // Milliseconds
                $("#error").fadeOut(fadeOutTime);
            });