extends ./base.pug

block title
    title= title

block link
    -var selected = 'DRust';

block content
    article
        header
            h2 DRust
            p DRust är Datas rustmästeri. På Wikipedia beskrivs ordet rustmästeri som ”lite av en vaktmästarförening”. Det kan ligga något i det. DRust tar främst hand om Datas sektionslokal, Basen. Vi ser till så att Basen är välmående, trevlig att vistas i och full med bra saker tillgängliga för alla Datateknologer; matlagningsredskap, drickaautomater, flipperspel osv. Vi har också hand om en mängd verktyg som teknologer kan låna vid behov. Utöver detta brukar DRust arrangera filmkör, flipperkvällar, försäljning under evenemang och annat smått och gott för Datateknologens trevnad.

            h3 Erik 'Khaan' Hildinge – Rustmästare
            p Om du någon gång i framtiden skulle känna att du har tummen mitt i handen så misströsta icke! När Khaan gick på som DRusts ordförande kunde han inte montera ihop en skruvdragare. Så det finns hopp! Khaan sitter som rustmästare vilket innebär att han går på många möten, men även skickar mail när han måste det. Han tycker mycket om ost och maktmissbruk.

            h3 Alexandra 'Alex' Parkegren – Kassör
            p Alex sitter som kassör i DRust, vilket innebär att det är hon som har hand om DRusts ekonomi och sköter bokföring av saker.

            h3 Oskar 'Oskuld' Vigren – Lokalchef
            p Oskuld är DRusts lokalchef. Han ansvarar för städningen av Basen, dvs. ser till att nollstädet sköts samt delar ut städuppgifter i samband med att någon fått rött kort. Som städansvarig gillar Oskuld förstås fuktiga moppar och möget som samlas i diskhon i städskrubben. Han är dessutom en harambeentusiast som aspar memelord.

            h3 Marcus 'Taira' Lundberg – Automatchef
            p Taira sitter som automatchef, vilket innebär att det är han som ser till att automaten i köket i Basen är fylld med mat, snacks, dricka och annat smått och gott. Han älskar chips och bra serier, som t.ex. Firefly. Jo och just det, utmana inte Taira i gurkätning – han åt en gång 8 gurkor på rad.

            h3 Johan 'Jojo' Johansson – Flippermek
            p JoJo är en kattälskare som också är mycket engagerad i DRust, men han är även intresserad av språket Rust. Som flippermek ansvarar han för att flipperspelen fungerar som de ska och finns tillgängliga att spela på när man behöver en paus från plugg och annat. JoJo kan de 16 sista decimalerna till PI utantill!?

            h3 Angelica 'Angie' Strandberg – Rustaurerare
            p Som DRusts rustaurerare ansvarar Angie för alla datas nycklar samt kontrakt. Postnamnet rustaurerare kommer av hennes engagemang i renoveringen av köket i Basen. Angie är en bok- och filmfantast, med favoritgenren fantasy. En kuriosa om Angie är att hon besitter förmågan att kunna hacka lök utan att börja gråta. Hon har vid ett flertal tillfällen hackat ca 20 lökar utan att bli tårögd.
