extends ./base.pug

block title
    title= title

block link
    -var selected = 'DRust';

block header
    header#drust-header
        div.title-bar
            b Datateknologsektionens
            img(src="/drust16.svg")
            b Rustmästeri

block content
    main#drust-main
        h1 Drust e najs
