extends ./base.pug

block title
    title= title

block content
    article
        //-TODO: Scrape and display the weeks food
        //-TODO: Add more links to places nearby

        .food-content
            h1 K채k n채ra Chalmers

            ul.links
                li
                    a(href='http://www.alpabaguetter.se/') Alpa-baguetter
                li
                    a(href='http://www.baanthaigbg.se/') Baan Thai
                li
                    a(href='http://pizza-meny.se/sannegardens-pizzeria/') Sanneg책rdens Pizzeria


        .food-content
            h1 K책rrestaurangen
            p Lorem ipsum dolor sit amet, sit tota recusabo ullamcorper in, ne facilisi mediocrem vim. Mea cu iusto mundi, doming adipisci consulatu te vel, ex constituto deseruisse eum. Sit ex mutat forensibus efficiantur, et has atqui animal. Ei stet simul meliore has, nam idque vitae contentiones ut. Ea viderer accusamus deseruisse est, fabellas conclusionemque ad ius. Has porro putent ei, usu feugait inimicus omittantur no.