extends ./base.pug

block title
    title= title

block content
    article
        iframe(src="//giphy.com/embed/UOnRLkGe0xaO4", width="480", height="279", frameBorder="0", class="giphy-embed", allowFullScreen)
            a(href="http://giphy.com/gifs/movie-top-from-UOnRLkGe0xaO4") via GIPHY