extends ./base.pug

block link
    -var selected = 'Verktyg';

block title
    title= title

block includes
    link(rel='stylesheet', href='/stylesheets/libs/pikaday.css')


block content
    article
        h1 Låna Verktyg

        .center-content
            p Vill du låna verktyg av DRust? Fyll i detta formulär så hör vi av oss.
            hr
            .tools-form
                form(action='/verktyg/submit', method='post', id='tool-form')
                    input(type='text', name='name', placeholder='Namn')
                    br
                    input(type='text', name='email', placeholder='Mail')
                    br
                    input(type='text', name='startDate' id='datepickerStart', placeholder='Startdatum')
                    br
                    input(type='text', name='endDate', id='datepickerEnd', placeholder='Återlämningsdatum')
                    hr
                    h4 Vilka verktyg vill du låna?
                    input(type='hidden', name='toolList' ,id='tool-list-input')
                    ul(id='tool-list')
                    br
                    select(onchange='setNumber()', id='select-tool')
                        each t in tools
                            option(value=t.name)= t.name
                    input(type='number', id='select-number', min='1', value='1', max=tools[0].amount)
                    br
                    button(type='button' onclick='addTool()') Låna
                    br
                    hr
                    button.large(onclick='addToolList()') Skicka

    script(type='text/javascript', src='/js/verktyg-bundle.js')
    script.
        var tools = !{JSON.stringify(tools)}; // For getting the 'tools' variable from pug
    script
        :babel
            'use strict';

            const select = document.getElementById('select-tool');
            const num = document.getElementById('select-number');
            const list = document.getElementById('tool-list');

            let toolList = [];

            list.style = 'display:none';

            function setNumber() {
                num.value = 1;
                num.max = tools[select.selectedIndex].amount; // Can't borrow more than the amount of the tool we currently have
            }

            function addTool(){
                list.style = 'display:inline-block';
                const li = document.createElement('li');
                const tool = tools[select.selectedIndex];
                li.appendChild(document.createTextNode(tool.name + ' : ' + num.value + ' st'));
                list.appendChild(li);
                select.remove(select.selectedIndex);
                toolList.push(tool);
                const index = tools.indexOf(tool);
                tools.splice(index, 1);
                setNumber();
            }

            function addToolList() {
                const input = document.getElementById('tool-list-input');
                input.value = JSON.stringify(toolList);

                const toolForm = document.getElementById('tool-form');
                toolForm.submit();
            }
