extends ./base.pug

block link
    -var selected = 'Verktyg';

block title
    title= title

block includes
    link(rel='stylesheet', href='/stylesheets/libs/pikaday.css')


block content
    article
        h1 Låna Verktyg

        p Vill du låna verktyg av DRust? Fyll i detta formulär så hör vi av oss.
        .tools-form.center
            form(action='/verktyg/submit', method='post')
                input(type='text', name='name', placeholder='Namn')
                br
                input(type='text', name='email', placeholder='Mail')
                br
                input(type='text', name='start-date' id='datepickerStart', placeholder='Startdatum')
                br
                input(type='text', name='end-date', id='datepickerEnd', placeholder='Återlämningsdatum')
                br
                p Vilka verktyg vill du låna?
                select(name='tool', onchange='setNumber(this)')
                    each t in tools
                        option(value=t.name)= t.name
                input(type='number', id='select-number', min='1')

        //- testing
        each t in tools
            p= t

    script(type='text/javascript', src='/js/verktyg-bundle.js')
    script.
            function setNumber(select) {
                const num = document.getElementById('select-number');
                const tools = !{JSON.stringify(tools)}; // For getting the 'tools' variable from pug
                num.value = 1;
                num.max = tools[select.selectedIndex].amount; // Can't borrow more than the amount of the tool we currently have
            }