extends ./base.pug

block link
    -var selected = 'Verktyg';

block title
    title= title

block includes
    link(rel='stylesheet', href='/stylesheets/libs/pikaday.css')


block content
    article
        h1 Verktyg

        .tools-form.center
            form(action='/verktyg/submit', method='post')
                input(type='text', name='name', placeholder='Namn')
                input(type='text', name='email', placeholder='Mail')
                input(type='text', name='start-date' id='datepickerStart', placeholder='Startdatum')
                input(type='text', name='end-date', id='datepickerEnd', placeholder='Återlämningsdatum')
                select(name='tool')
                    each t in tools
                        option(value=t.name)= t.name

        //- testing
        each t in tools
            p= t

    script(type='text/javascript', src='/js/verktyg-bundle.js')