extends ./base.pug

block link
    -var selected = 'Verktyg';

block title
    title= title

block includes
    link(rel='stylesheet', href='/stylesheets/libs/pikaday.css')


block content
    article
        h1 Låna Verktyg

        .center-content
            p Vill du låna verktyg av DRust? Fyll i detta formulär så hör vi av oss.
            hr
            .tools-form
                form(action='/verktyg/submit', method='post', id='tool-form')
                    input(type='text', name='name', id='name', placeholder='Namn')
                    br
                    input(type='text', name='email', id='email', placeholder='Mail')
                    br
                    input(type='text', name='startDate' id='datepickerStart', placeholder='Startdatum')
                    br
                    input(type='text', name='endDate', id='datepickerEnd', placeholder='Återlämningsdatum')
                    hr
                    h4 Vilka verktyg vill du låna?
                    input(type='hidden', name='toolList' ,id='tool-list-input')
                    table.center(id='tool-list')
                    br
                    select(onchange='verktyg.setNumber()', id='select-tool')
                        each t in tools
                            option(value=t.name)= t.name
                    input(type='number', id='select-number', min='1', value='1', max=tools[0].amount)
                    br
                    button(type='button' onclick='verktyg.addTool()') Låna
                    br
                    hr
                    button.large(type='submit') Skicka

    script(type='text/javascript', src='https://code.jquery.com/jquery-3.1.1.min.js')
    //script(type='text/javascript', src='/js/verktyg.js')
    script(type='text/javascript', src='/js/verktygBundle.js')
    script.
        tools = !{JSON.stringify(tools)}; // For getting the 'tools' variable from pug