
$error-height : 2rem;
$error-border-color : firebrick;
$error-default-color: red;

div.tools-form {
  width: 300px;
  vertical-align: top;
  text-align: center;

  button {
    margin: 0 auto;
  }

  input {
    margin-top:0.4rem;
  }

}

#error {
  background-color: lighten($error-default-color, 10%);
  text-align: center;

  width: 50%;
  height: $error-height;
  line-height: $error-height;
  margin: auto;
  margin-top: 1rem;

  border-radius: 5px;
  border: 2px solid $error-border-color;
}
