
@import 'forms';

$error-height : 2rem;
$error-border-color : firebrick;
$error-default-color: red;

// Form extension for the tools page
div.tools-form {
  @extend .site-form;

  input[type=number]{
    width:9.5rem;
    margin-left: 0.2rem;
  }

  select {
    background-color: white;
    border: 2px solid gray;
    width:3.5rem;
    outline:none;
    margin-bottom: 1rem;
    height: 1.8rem;

    // Same as outline:none but for select.
    // Different because some stupid shit about it being rendered by the OS and not the browser
    &:-moz-focusring {
      color: transparent;
      text-shadow: 0 0 0 #000;
    }
  }
}

#error {
  background-color: lighten($error-default-color, 10%);
  text-align: center;

  width: 50%;
  height: $error-height;
  line-height: $error-height;
  margin: auto;
  margin-top: 1rem;

  border-radius: 5px;
  border: 2px solid $error-border-color;
}
