
@import 'vars';

$error-height : 2rem;
$error-border-color : firebrick;
$error-default-color: red;


// CSS for any form on the site
div.site-form{
  width: 300px;
  vertical-align: top;
  text-align: center;

  input {
    background-color: white;
    margin-top:0.4rem;
  }

  input[type=text]{
    width:70%;
    line-height:1.5rem;
    border-radius: 0px;
    border: 2px solid gray;

    &:focus {
      border: 2px solid black;
    }
  }

  input[type=number]{
    border-radius:0px;
    border: 2px solid gray;
    line-height:1.5rem;

    &:focus {
      border: 2px solid black;
    }
  }

  button {
    background-color: white;
    border-radius: 0;
    border: 2px solid gray;
    color: $data;
    width:30%;
    font-size:15px;
    height:2rem;
    margin-bottom:1rem;

    &:hover {
      background-color:$light-data;
      color: $dark-data;
    }

  }
}

// Form extension for the tools page
div.tools-form {
  @extend .site-form;

  input[type=number]{
    width:9.5rem;
    margin-left: 0.2rem;
  }

  select {
    background-color: white;
    border: 2px solid gray;
    width:3.5rem;
    outline:none;
    margin-bottom: 1rem;
    height: 1.8rem;

    // Same as outline:none but for select.
    // Different because some stupid shit about it being rendered by the OS and not the browser
    &:-moz-focusring {
      color: transparent;
      text-shadow: 0 0 0 #000;
    }
  }
}

// Removed all outlines. They are ugly af
:focus {
  outline: none;
}

::-moz-focus-inner {
  border: 0;
}

#error {
  background-color: lighten($error-default-color, 10%);
  text-align: center;

  width: 50%;
  height: $error-height;
  line-height: $error-height;
  margin: auto;
  margin-top: 1rem;

  border-radius: 5px;
  border: 2px solid $error-border-color;
}
