//TODO: Move some sass to other files and import all to layout.scss

@import 'tools';
@import 'vars';
@import 'page_header';

// General colors
$text      : rgba(black, 0.75);

// Default navigation menu colors
$nav-background   : #444;
$nav-text         : white;
$nav-hover        : #8f8f8f;

body {
  color: $text;
  line-height: 1.4;
  margin: 0;
  font-family: 'Fira Sans', sans-serif;
  font-size: 18px;
}

a {
  color: $data;
  text-decoration: none;
  transition: all 32ms linear;

  &.active {
    color: $dark-data;
  }

  &:hover {
    text-decoration: underline;
    color: $dark-data;
  }


}

h1, h2, h3, h4 {
  @extend .center;
}

nav {
  a {
    display: block;

    &:hover {
      text-decoration: none;
    }

  }
}

main {
  padding-bottom: 40px;
  min-height: calc(100vh - 240px);
  background-image: url("/images/bg.png");
  background-size: 300px;
  box-shadow: 0 0 20px 5px rgba(black, 0.9);
}

iframe {
  display: block;
  margin: auto;
}

article {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 40px;
  padding: 40px 60px;
  padding-bottom: 60px;
  background-color: $snow;
  box-shadow: $main-shadow;

  @media screen and (min-width: $break-small) {
  }

  @media screen and (min-width: $break-large) {
    width: 960px;
    padding: 50px 74px;
    padding-bottom: 74px;
    margin: auto;
    margin-bottom: 40px;
    border-radius: $light-radius;
  }

  h1:first-child {
    margin-top: 0;
  }

  img {
    width: 100%;
    height: auto;
  }
}

.news-article {
  padding: 0;

  > header {
    padding: 20px 30px;

    .wrapper {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      padding-bottom: 6px;
      border-bottom: 2px solid $text;
    }

    h2 {
      margin: 0;
    }
  }

  > .body {
    padding: 60px 80px;
    padding-top: 20px;
  }
}

ul.links {

  list-style-type: none;

  li {
    margin-top: 0.5rem;
  }

  a {
    text-decoration: none;
  }
}

div.food-content {
  display: inline-block;
  width:50%;
  vertical-align: top;

  ul {
    margin: 0 auto;
    max-width:70%;
  }

}

#edit-form, #write-form {
  * {
    display: block;
  }

  .title {
    font-size: 240%;
    font-family: 'Fira Mono', monospace;
    width: 100%;
  }

  .body {
    font-family: 'Fira Mono', monospace;
    width: 100%;
    height: 300px;
  }
}

td {
  padding: 4px 8px;
}

.no-padding {
  padding: 0 0;
}

.full-width {
  width: 100%;
}

.rounded-light {
  border-radius: $light-radius;
}

.center-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}



h1,
h2,
h3,
h4,
h5,
h6,
p.center {
  text-align: center;
}

img.center {
  display: block;
}

// Removed all outlines. They are ugly af
:focus {
  outline: none;
}
// For Firefox
::-moz-focus-inner {
  border: 0;
}

// Same as outline:none but for select.
// Different because some stupid shit about it being rendered by the OS and not the browser
select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

hr {
  width:50%;
  color: gray;
  margin-top:2rem;
  margin-bottom:2rem;
}