// General colors
$data : #FA6607;

// Default navigation menu colors
$nav-background   : #444;
$nav-text         : white;
$nav-hover        : #8f8f8f;

body {
  margin: 0;
  font-family: 'Fira Sans', sans-serif;
}

nav {
  ul {
    margin: 0;
    padding: 0;
    background-color: $nav-background;
    list-style: none;
    height: 100%;
  }

  li {
    display: inline-block;
    border: 1px solid $nav-background;
  }

  a {
    display: block;
    text-decoration: none;
    color: $nav-text;
    padding: 0.4rem 0.8rem;
  }

  a:hover {
    background-color: $nav-hover;
  }

  a.active {
    // Switch colors
    background-color: $nav-text;
    color: $nav-background;
  }

}

ul.links {

  list-style: none;

  li {
    padding-top:0.5rem;
  }

  a {
    text-decoration: none;
    color: black;
  }

  a:hover {
    color: gray;
  }
}

#drust-header {

  background-image: url("/luva.jpg");
  background-size: auto 100%;
  background-repeat: repeat-x;

  height: 400px;
  padding-top: 130px;

  .title-bar {

    background-color: rgba(black, 0.6);
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px black;

    b {

      font-size: 40pt;
      font-weight: medium;
      color: $data;
      text-shadow: 1px 1px 1px rgba($data, 0.7);
      width: 640px;
      text-align: center;
      opacity: 0.95
    }

    img {

      height: 400px;
      opacity: 0.95;
    }
  }
}

#drust-main {
  min-height: 400px;
  padding: 60px 0;
  background-image: url("/bg.png");
  box-shadow: 0 -4px 20px black;
}