//TODO: Move some sass to other files and import all to layout.scss

@import 'db';

// General colors
$text      : rgba(black, 0.75);
$data      : #FA6607;
$light-data: lighten($data, 38%);
$dark-data : darken($data, 32%);
$snow      : #FFFAFA;

// Default navigation menu colors
$nav-background   : #444;
$nav-text         : white;
$nav-hover        : #8f8f8f;

$main-shadow : 0 0 8px 1px rgba(black, 0.75);
$main-radius : 4px;

body {
  color: $text;
  margin: 0;
  font-family: 'Fira Sans', sans-serif;
  font-size: 18px;
}

a {
  color: $data;
  transition: all 32ms linear;
}
a:hover {
  color: $dark-data;
}
a.active {
  color: $dark-data;
}

h1, h2, h3, h4 {
  text-align: center;
}

nav {
  a {
    display: block;
    text-decoration: none;
  }
}

#big-banner {
  background-image: url("/images/bg-oskuld.jpg");
  background-size: 100% auto;
  background-position: 0 -190px;
  height: 630px;
  padding-top: 155px;

  .title-bar {
    background-color: rgba(black, 0.7);
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px black;

    b {
      font-size: 52px;
      font-weight: medium;
      color: $data;
      text-shadow: 1px 1px 1px rgba($data, 0.7);
      width: 640px;
      text-align: center;
    }

    img {
      height: 400px;
      opacity: 0.95;
    }
  }
}

main {
  padding-bottom: 80px;
  background-image: url("/images/bg.png");
  background-size: 300px;
  box-shadow: 0 0 20px 5px rgba(black, 0.9);
}

main > header {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  height: 48px;
  margin-bottom: 56px;

  img {
    height: 200px;
  }
}

.site-nav {
  display: flex;
  justify-content: center;

  a {
    text-align: center;
    font-size: 24pt;
    padding: 16px 32px;
    margin: 0 30px;
    box-shadow: $main-shadow;
    border-radius: $main-radius;
    background-color: $snow;
  }

  a:hover {
    background-color: $light-data;
  }

  a.active {
    background-color: $data;
  }
}

#thin-banner {
  background-color: $data;
  height: 200px;
}

iframe {
  display: block;
  margin: auto;
}

article {
  width: 960px;
  margin: auto;
  background-color: $snow;
  box-shadow: $main-shadow;
  border-radius: $main-radius;
}

.news-article {
  margin-bottom: 40px;

  > header {
    padding: 20px 30px;

    .wrapper {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      padding-bottom: 6px;
      border-bottom: 2px solid $text;
    }

    h2 {
      margin: 0;
    }
  }
  > .body {
    padding: 60px 80px;
    padding-top: 20px;
  }
}

ul.links {

  list-style-type: none;

  li {
    margin-top: 0.5rem;
  }

  a {
    text-decoration: none;
  }
}

div.food-content {
  display: inline-block;
  width:50%;
  vertical-align: top;

  ul {
    margin: 0 auto;
    max-width:70%;
  }

}